.DS_Store
.vscode
examples/.DS_Store
examples/AlmanacOled/.DS_Store
examples/AlmanacOled/.vscode
examples/AlmanacLed/.DS_Store
examples/AlmanacLed/.vscode


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
